<div class="containerSubtitle">
    <div class="contentSubtitle">
        <h5>Total</h5>
        <div class="subtitles">
            <span>ativados: {{this.count?.totalActivated}} </span>
            <span>desativados: {{this.count?.totalDeactivated}} </span>
        </div>
    </div>

    <div class="container">
        <div class="contentSubtitle">
            <h5>admin</h5>
            <div class="subtitles">
                <span class="adminActiveColor">ativados: {{this.adminActivated}} </span>
                <span class="adminDeactivatedColor">desativados: {{this.adminDeactivated}} </span>
            </div>
        </div>
        
        <div class="contentSubtitle">
            <h5>usuários</h5>
            <div class="subtitles">
                <span class="commonActivatedColor">ativados: {{this.commonActivated}} </span>
                <span class="commonDeactivatedColor">desativados: {{this.commonDeactivated}} </span>
            </div>
        </div>
    </div>
</div>