form{
    display: grid;
    gap: 2rem;
    width: 25rem;
    
    header{
        .frameLogo{
            display: flex;
            width: 8rem;
        }
    }
    main{
        display: grid;
        gap: 1rem;
    }

    button[type=submit]{
        background: var(--colorFontDefault);
        color: var(--bgMain);
    }
}