.option{
    border: 2px solid #e0e0e0;
    background-color: #F0F1F3;
    font-weight: 500;
    font-size: .8rem;
    padding: 0.5rem 0.7rem;
    img{
        width: 1rem;
    }
}

.modal{
    form{
        display: grid;
        gap: 1rem;
        width: 33rem;
        padding: 2rem;
        background-color: var(--bgMain);
        border-radius: .5rem;
        .inform{
            display: flex;
            justify-content: space-between;
            button{
                background: none;
                img{
                    transform: rotateZ(45deg);
                    filter: invert(1);
                }
            }
        }
        .contentButton{
            display: flex;
            justify-content: flex-end;
            button{
                background-color: var(--colorFontDefault);
                color: var(--bgMain);
            }
            button:disabled{
                background-color: var(--colorFontDefault);
                color: var(--bgMain);
                opacity: .5;
            }
        }
    }
}