.option{
    border: 2px solid #e0e0e0;
    background-color: #F0F1F3;
    font-weight: 500;
    font-size: .8rem;
    padding: 0.5rem 0.7rem;
    img{
        width: 1rem;
    }
}

.frame{
    width: 28rem;
    padding: 2rem;
    background-color: var(--bgMain);
    display: grid;
    gap: 1rem;

    header{
        border-bottom: 1px solid #dcdcdc;
    }
    .contentButton{
        display: flex;
        gap: 1rem;
        button:nth-child(1){
            width: 100%;
            background-color: #F0F1F3;
            color: var(--colorFontDefault);
        }
        button{
            width: 100%;
            font-weight: 600;
            background-color: var(--colorFontDefault);
            color: var(--bgMain);
        }
    }
}